@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-comments/styles.css";
@import url('https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');

@import "@fontsource/montserrat";
@import "@fontsource/montserrat/400.css"; 
@import "@fontsource/montserrat/400-italic.css"; 



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat";
   
  }
}

@media (prefers-color-scheme: light) {
  .auth {
    @apply flex-center min-h-screen w-full bg-gradient-to-t from-blue-700 to-blue-950;
    
    
   

    .root {
      @apply flex min-h-screen w-full flex-col lg:flex-row text-white;
     
    }
  }
}

@media (prefers-color-scheme: dark) {
  .auth {
    @apply flex-center min-h-screen w-full bg-gradient-to-t from-blue-700 to-blue-950 ;
    
   

    .root {
      @apply flex min-h-screen w-full flex-col lg:flex-row ;
     
    }

    .picture-generator {
      @apply flex min-h-screen w-full flex-col lg:flex-row ;
     
    }
    .picture-generator-container {
      @apply mt-1 flex-1 overflow-auto py-8 lg:mt-0 flex-col lg:max-h-screen lg:py-20;
     
    }
  }
}

.auth {
  @apply flex-center min-h-screen w-full bg-gradient-to-tr from-blue-350 from-0% to-blue-250 to-35%;
}

.landing-page {
  
  background-image: url('/images/background-image.png');
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center; 
}

.onboarding {
  @apply flex-center min-h-screen w-full ;
}

.root {
  @apply flex min-h-screen w-full flex-col lg:flex-row bg-gradient-to-t from-blue-550 from-0% to-blue-450 to-55%;
  font-family: "Montserrat";
}

.root-container {
  @apply  flex w-full flex-row lg:max-h-screen ;
 
}

.sketchBoard-container {
  @apply  overflow-auto flex-col lg:max-h-screen ;
 
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* ===== UTILITIES */
  .wrapper {
    @apply pr-28 ml-72 text-light-700 mt-20 p-16-regular ;
   
  }
  .wrapper-light {
    @apply max-w-5xl mx-auto px-5 md:px-10 w-full text-dark-700 p-16-regular;
   
  }
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }UserProfile

  

  

  

  

  .gradient-selected-item {
    @apply bg-gradient-to-r from-blue-800 from-25% via-blue-500 via-50% to-blue-900 to-85%
  }
  .sheet-gradient-selected-item {
    @apply  bg-gradient-to-r from-blue-800 from-25% via-blue-500 via-50% to-blue-900 to-85% w-full
  }

  .shimmer-gradient-selected {
    @apply animate-shimmer  bg-[linear-gradient(110deg,#1e40af,45%,#3b82f6,55%,#1e3a8a)] bg-[length:200%_100%] transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-400
  }

  .shimmer-button {
    @apply inline-flex animate-shimmer items-center justify-center rounded-md border border-slate-800 bg-[linear-gradient(110deg,#1e40af,45%,#dbeafe,55%,#1e40af)] bg-[length:200%_100%] font-medium text-slate-900 transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50
    
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* ===== TYPOGRAPHY */
  /* 44 */
  .h1-semibold {
    @apply text-[36px] font-semibold sm:text-[40px] leading-[120%] sm:leading-[56px] ;
   
  }

  /* 36 */
  .h2-bold {
    @apply text-[30px] font-bold md:text-[36px] leading-[110%];
   
  }

  /* 30 */
  .h3-bold {
    @apply font-bold text-[24px] leading-[140%];
   
  }

  /* 24 */
  .p-24-bold {
    @apply font-bold text-[24px] leading-[120%];
   
  }

  /* 20 */
  .p-20-semibold {
    @apply font-semibold text-[20] leading-[140%];
   
  }
  .p-40-semibold {
    @apply font-semibold text-[40px] leading-[140%];
   
  }

  .p-20-regular {
    @apply font-normal text-[20px] leading-[140%];
   
  }

  .p-40-regular {
    @apply font-medium text-[45px] leading-[140%];
   
  }

  /* 18 */
  .p-18-semibold {
    @apply font-semibold text-[18px] leading-[140%];
   
  }

  /* 16 */
  .p-16-semibold {
    @apply font-semibold text-[15px] leading-[140%];
   
  }

  .p-16-medium {
    @apply font-medium text-[16px] leading-[140%];
   
  }

  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
   
  }

  .p-14-regular {
    @apply font-normal text-[14px] leading-[140%];
   
  }

  .p-12-regular {
    @apply font-normal text-[12px] leading-[140%];
   
  }

  .p-10-regular {
    @apply font-normal text-[10px] leading-[140%];
   
  }

  /* 14 */
  .p-14-medium {
    @apply font-medium text-[14px] leading-[120%];
   
  }



  /* 10 */
  .p-10-medium {
    @apply font-medium text-[10px] leading-[140%];
   
  }
  .p-12-medium {
    @apply font-medium text-[12px] leading-[140%];
   
  }

  /* =====  SHADCN OVERRIDES */
  .button {
    @apply py-4 px-6 flex-center gap-3 rounded-full p-16-semibold focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
   
  }

  .dropdown-content {
    @apply shadow-lg rounded-md overflow-hidden p-0;
  }

  .dropdown-item {
    @apply p-16-semibold text-dark-700 cursor-pointer transition-all px-4 py-3 rounded-none outline-none hover:border-none focus-visible:ring-transparent hover:text-white hover:bg-purple-gradient hover:bg-cover focus-visible:ring-offset-0 focus-visible:outline-none !important;
  }

  .input-field {
    @apply rounded-[16px] border-2 border-purple-200/20 shadow-sm shadow-purple-200/15 text-dark-600 disabled:opacity-100 p-16-semibold h-[50px] md:h-[54px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-dark-600 w-full placeholder:text-dark-400 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }

  .submit-button {
    @apply bg-purple-gradient bg-cover rounded-full py-4 px-6 p-16-semibold h-[50px] w-full md:h-[54px];
  }

  .select-field {
    @apply w-full border-2 border-purple-200/20 shadow-sm shadow-purple-200/15 rounded-[16px] h-[50px] md:h-[54px] text-dark-600 p-16-semibold disabled:opacity-100 placeholder:text-dark-400/50 px-4 py-3 focus:ring-offset-0 focus-visible:ring-transparent focus:ring-transparent focus-visible:ring-0 focus-visible:outline-none !important;
  }

  .select-trigger {
    @apply flex items-center  gap-2 py-5 capitalize focus-visible:outline-none;
  }

  .select-item {
    @apply py-3 cursor-pointer hover:bg-purple-100;
  }

  .IconButton {
    @apply focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .success-toast {
    @apply bg-green-100 text-green-900;
  }

  .error-toast {
    @apply bg-red-100 text-red-900;
  }

  /* Home Page */
  .home {
    @apply sm:flex-center hidden h-72 flex-col gap-4 rounded-[20px] border bg-banner bg-cover bg-no-repeat p-10 shadow-inner;
  }

  .home-heading {
    @apply h1-semibold max-w-[500px] flex-wrap text-center text-white shadow-sm;
  }

  /* Credits Page */
  .credits-list {
    @apply mt-11 grid grid-cols-1 gap-5 sm:grid-cols-2 md:gap-9 xl:grid-cols-3;
  }

  .credits-item {
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-8 shadow-xl shadow-purple-200/20 lg:max-w-none;
  }

  .credits-btn {
    @apply w-full rounded-full bg-purple-100 bg-cover text-purple-500 hover:text-purple-500;
  }

  /* Profile Page */
  .profile {
    @apply mt-5 flex flex-col gap-5 sm:flex-row md:mt-8 md:gap-10;
  }

  .profile-balance {
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-5 shadow-lg shadow-purple-200/10 md:px-6 md:py-8;
  }

  .profile-image-manipulation {
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-5 shadow-lg shadow-purple-200/10 md:px-6 md:py-8;
  }

  /* Transformation Details */
  .transformation-grid {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-8 md:grid-cols-2;
  }

  .transformation-original_image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  /* Collection Component */
  .collection-heading {
    @apply md:flex-between mb-6 flex flex-col gap-5 md:flex-row;
  }

  .collection-list {
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3;
  }

  .collection-empty {
    @apply flex-center h-60 w-full rounded-[10px] border border-dark-400/10 bg-white/20;
  }

  .collection-btn {
    @apply button w-32 bg-purple-gradient bg-cover text-white;
  }

  .collection-card {
    @apply flex flex-1 cursor-pointer flex-col gap-5 rounded-[16px] border-2 border-purple-200/15 bg-white p-4 shadow-xl shadow-purple-200/10 transition-all hover:shadow-purple-200/20;
  }

  /* MediaUploader Component */
  .media-uploader_cldImage {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  .media-uploader_cta {
    @apply flex-center flex h-72 cursor-pointer flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
  }

  .media-uploader_cta-image {
    @apply rounded-[16px] bg-white  p-5 shadow-sm shadow-purple-200/50;
  }

  /* Navbar Component */
  .header {
    @apply flex-between fixed h-20 w-full;
  }
  

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-1;
  }

  

  .gradient-text {
    @apply bg-blue-gradient bg-cover bg-clip-text text-transparent;
  }
  
  .bg-blue-gradient {
    @apply bg-gradient-to-r from-blue-400 from-25% via-blue-600 via-50% to-blue-400 to-85%
  }

  /* Search Component */
  .search {
    @apply flex w-full rounded-[16px] border-2 border-purple-200/20 bg-white px-4 shadow-sm shadow-purple-200/15 md:max-w-96;
  }

  .sidebar {
    @apply hidden h-full lg:flex;
  }
  
  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2 px-5 dark:text-white text-black;
  }
  
  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4 pr-5;
  }
  
  .sidebar-nav_elements {
    @apply md:flex flex-col items-start gap-2; /* Remove w-full */
  }
  
  .sidebar-nav_element {
    @apply relative rounded-br-[45px] bg-blue-950 bg-cover transition-all hover:shadow-inner hover:bg-blue-950;
  }
  
  .sidebar-nav_element_selected {
    @apply relative lg:rounded-tr-lg lg:rounded-tl-lg lg:rounded-bl-lg lg:rounded-br-[150px] bg-blue-800 bg-cover transition-all hover:shadow-inner ;
  }
  .sidebar-nav_element_sub {
    @apply relative lg:rounded-tr-lg lg:rounded-tl-lg lg:rounded-bl-lg lg:rounded-br-[150px] hover:bg-blue-800 bg-cover transition-all hover:shadow-inner ;
  }
  .mobile-nav_element {
    @apply relative  bg-blue-950 bg-cover transition-all hover:shadow-inner hover:bg-blue-950 w-full pl-4;
  }
  
  .mobile-nav_element_selected {
    @apply relative  bg-blue-800 bg-cover transition-all hover:shadow-inner w-full pl-4;
  }
  .mobile-nav_element_sub {
    @apply relative  hover:bg-blue-800 bg-cover transition-all hover:shadow-inner w-full;
  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }
  
  /* Adjust the sub-nav menu position */
  .sub-nav_elements {
    @apply absolute left-0 mt-8 bg-white shadow-md rounded-md; /* Position it underneath the navLink */
  }
  
  /* Highlight the active subNavLink item */
  .active-subNavLink {
    @apply bg-gray-200; /* Adjust the background color as desired */
  }

  /* Image Generator Sidebar Component */
  .ig-sidebar {
    @apply hidden h-screen w-28 lg:flex;
    
  }

  .ig-sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4 pr-5;
  }

  .ig-sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .ig-sidebar-nav_element {
    @apply flex-center p-16-semibold w-full whitespace-nowrap rounded-tr-lg rounded-tl-[0px] rounded-bl-[0px] rounded-br-[35px] bg-cover  transition-all hover:bg-purple-600 hover:shadow-inner;
  }

  .ig-sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }
  

  /* TransformationForm Component */
  .prompt-field {
    @apply flex flex-col gap-5 lg:flex-row lg:gap-10;
  }

  .media-uploader-field {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-4 md:grid-cols-2;
  }

  /* TransformedImage Component */
  .download-btn {
    @apply p-14-medium mt-2 flex items-center gap-2 px-2;
  }

  .transformed-image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  .transforming-loader {
    @apply flex-center absolute left-[50%] top-[50%] size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-[10px] border bg-dark-700/90;
  }

  .transformed-placeholder {
    @apply flex-center p-14-medium h-full min-h-72 flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
  }
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.cl-logoImage {
  width: 200px;
  height: 100px;
}

.cl-logoBox {
  width: 250px;
  height: 100px;
  @apply hidden
}

.cl-headerSubtitle {
  @apply hidden
}

.cl-header {
  @apply justify-self-start items-start
}

.cl-footerActionLink {
  @apply text-blue-250 hover:text-blue-350
}

.cl-formButtonPrimary {
  @apply bg-blue-250 hover:bg-blue-350
}

.formButtonPrimary {
  color: #581c87;
}

.cl-internal-1fsg6zy {
  color: #fdfdfd;
}

.cl-rootBox {
  @apply w-full h-screen
}

.cl-signUp-root {
  @apply w-full h-screen
}

.cl-card {
  @apply w-full h-full items-center justify-center
}

.cl-userButtonPopoverCard {
  @apply w-72 h-44
}

.cl-userButtonOuterIdentifier {
  @apply p-16-regular 
}

.cl-formFieldRow {
  @apply flex-col
}

.cl-main {
  @apply w-full lg:w-3/4  p-5
}